.service-card {
  background: url(../../assets/card-bg.png);
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease;
}

/* .service-card:hover {
    transform: rotateY(180deg);
    background-color: #00ff99;
    color: #ffffff;
} */

.card-inner {
    width: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card-back {
  perspective: 1000px;
}


.card-front, .card-back {
  position: absolute;
  backface-visibility: hidden;
}